
<html>
<head>
   <link rel="stylesheet" href="raffler.css" media="screen">
</head>
<body >
    <header id="header">
      <h1>Raffler</h1>
    </header>
    <section id="raffler">
         <div id="new">
            <input id="new_entry"  size="60" autofocus>
            <input type="submit" value="New" id="newvalue"/>
        </div>
        <div id="winners">
        </div>
        <div id='chooser'>
            <button id='choosewinner'>Draw Winner</button>
            <input type="submit" id='resetAll' value = "Reset"/>
        </div>
    </section>
 <!-- Templates -->
 <script type="text/template" id="item-template">
    <ul>
      <% _.each(entries, function(entry){ %>
            <li>
          <button id='<%- entry.id %>'>Delete</button>
      <label class="entry-name" >
          <%-  entry.name %>
          <span class="entry-winner"><% if ( entry.winner) { %>WINNER<% } %></span>
        </label></li>
          
      <% }); %>
    </ul>
 </script>

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
  <script src="Underscore.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js" type="text/javascript"></script>
 
   <script type="text/javascript" src="backbone.localStorage.js"></script>
    <script  src="src/raffler.js"></script >
    <script>
        $(document).ready(function (){
            window.Raffler.init();
            window.Raffler.initialize();
        });
    </script>
</body>
</html>